:root{ 
    --theme-color: #8842C0;
    --dark-theme-color: #3E113F;
	--mid-color: #5A5A5A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    font-family: 'Raleway', 'helvetica', 'open sans'
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    z-index: 600;
    box-shadow: 0px 2px 14px 0px rgb(39, 36, 36);
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: var(--theme-color);
    color: #fff;
    font-size: 18px;
}

header a,
header a img {
    height: 100%;
}

nav {
    width: 400px; height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

nav ul {
    height: 100%;
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: space-between;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    outline: none;
    line-height: 55px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

nav ul a:hover {
    background-color: #7c39b1;
}


nav ul li {
    display: inline-block;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

main {
    margin-top: 64px;
    min-height: 100vh;
}

section {
    min-height: 200px;
    padding: 20px;
}

h2 {
    font-size: 28px;
    margin: 20px 0;
    font-weight: 600;
}

main section:nth-child(even) {
    background-color: #F5F7F7;
}

#image {
    max-height: 100px;
    background-image: url("./images/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 120px;
    background-color: var(--dark-theme-color);
}

